.fancy-layout{
	background-color: hotpink;
}

p{
	font-family: "Comic Sans MS";
	font-size: 2.5rem;
	font-weight: bold;
	font-style: italic;
	color: red;
	background-color: blue;
	max-width: 40%;
	border-radius: 10px;
	border: 12px hotpink dotted;
}